package server

import (
    "encoding/json"
    "log"
    "net/http"

    "github.com/go-chi/chi/v5"
    "github.com/go-chi/chi/v5/middleware"
    {{.AdvancedTemplates.TemplateImports}}
)

// RegisterRoutes creates a new Chi router, registers a hello world handler to the root path,
// and returns the router.
func (s *Server) RegisterRoutes() http.Handler {
    r := chi.NewRouter()
    r.Use(middleware.Logger)

    r.Get("/", s.helloWorldHandler)
    {{.AdvancedTemplates.TemplateRoutes}}
    
    return r
}

// helloWorldHandler is an HTTP handler that responds with a JSON containing a hello world message.
func (s *Server) helloWorldHandler(w http.ResponseWriter, r *http.Request) {
    resp := make(map[string]string)
    resp["message"] = "Hello World"

    jsonResp, err := json.Marshal(resp)
    if err != nil {
        log.Fatalf("error handling JSON marshal. Err: %v", err)
    }

    _, err = w.Write(jsonResp)
    if err != nil {
        log.Fatalf("error writing response. Err: %v", err)
    }
}

